@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Tommy';
  src: url('./assets/fonts/MADE Tommy Soft Medium PERSONAL USE.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'TommyLight';
  src: url('./assets/fonts/MADE Tommy Soft Light PERSONAL USE.otf') format('opentype');

}
@font-face {
  font-family: 'TommyRegular';
  src: url('./assets/fonts/MADE Tommy Soft Regular PERSONAL USE.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'ChronoType';
  src: url('./assets/fonts/ChronoType.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}


@layer components {

  /* ANIMATIONS */
  .mainpage {
    animation: showpage  450ms ease-in;
  }

  .showindex {
    animation: showindex  850ms ease-in;
  }
  .projectshow {
    opacity: 1;
    animation: showproyects 450ms ease-out;
  }
  @keyframes showpage {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes showindex {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1;}
  }
  @keyframes showproyects {
    from {
      transform: translate(-300px, 0);
      opacity: 0;
    }
    to {
      transform: translate(0px, 0);
      opacity: 1;
    }
  }

}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply text-whitem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: auto;
}

html {
  @apply bg-negro
}



@layer components {
  .welcome-section__img1 {
    position: absolute;
    z-index: 99;
    clip-path: circle();
  }
  
  .welcome-section__img2 {
    z-index: 99;
    position: absolute;
    clip-path: circle();
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
  }
  
  @keyframes cf3FadeInOut {
    0% { opacity:1; }
    45% { opacity:1; }
    55% { opacity:0; }
    100% { opacity:0; }
  }

}
