@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  @apply text-whitem bg-negro;
  background: linear-gradient(180deg, rgb(12, 9, 19) 0%, rgb(12, 9, 20) 75%, rgb(14, 9, 26) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  @apply bg-negro
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@font-face {
  font-family: 'Tommy';
  src: url('./assets/fonts/MADE Tommy Soft Medium PERSONAL USE.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'TommyLight';
  src: url('./assets/fonts/MADE Tommy Soft Light PERSONAL USE.otf') format('opentype');

}
@font-face {
  font-family: 'TommyRegular';
  src: url('./assets/fonts/MADE Tommy Soft Regular PERSONAL USE.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'ChronoType';
  src: url('./assets/fonts/ChronoType.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}


@layer components {




  /* ANIMATIONS */
  .transicion {
    animation: transicion  450ms ease-in;
  }
  .transicioncorta {
    animation: transicion 250ms ease-in-out;
  }

  .showindex {
    animation: showindex  850ms ease-in;
  }
  .showproject {
    animation: showproject 450ms ease-out;
  }

  .welcome-section__img1 {
    position: absolute;
    z-index: 99;
    clip-path: circle();
  }
  
  .welcome-section__img2 {
    z-index: 99;
    position: absolute;
    clip-path: circle();
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
  }
  
  @keyframes cf3FadeInOut {
    0% { opacity:1; }
    45% { opacity:1; }
    55% { opacity:0; }
    100% { opacity:0; }
  }

  @keyframes transicion {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes showindex {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1;}
  }
  @keyframes showproject {
    from {
      transform: translate(-300px, 0);
      opacity: 0;
    }
    to {
      transform: translate(0px, 0);
      opacity: 1;
    }
  }
  
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet {
  background: rgb(241, 214, 198);
  filter: drop-shadow(0px 0px 2px rgb(82, 44, 3));
}
.swiper-pagination-bullet-active {
  background: rgb(224, 166, 133);
  filter: drop-shadow(0px 0px 2px rgb(82, 44, 3));
}

/* .swiper-button-prev {
  background-image: url('./assets/prev.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  clip-path: circle(50%);
}
.swiper-button-prev::after {
  content: '';
  background-image: url('./assets/next.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next {
  background-image: url('./assets/next.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  clip-path: circle(50%);
  z-index: 99;
}
.swiper-button-next::after {
  content: '';
  background-image: url('./assets/next.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
} */

.swiper-button-prev, .swiper-button-next {
    filter: drop-shadow(2px 2px 7px rgb(82, 44, 3));
    color: rgb(224, 166, 133);
}

.TooltipArrow {
  fill: white;
}

.svg {
  filter: drop-shadow(0px 0px 2px rgba(195, 181, 155, 0.4));
}